*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
body{
    background-color: rgb(32,33,36);

}
.container{
    margin: 50px 800px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 480px;
    border: 5px solid white;
    border-radius: 10px;
}

.button-grid{
    flex-grow: 4;
 display: grid;
 grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
 grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 5px;
background-color: rgb(32,33,36);
padding-left: 12px;
margin-bottom: 10px;
}

input{
    flex-grow: 2;
    background-color: rgb(32,33,36);
    color: white;
    text-align: right;
    font-size: 70px;
    border: none;
    outline: none;
    padding: 0px 20px;
    border-radius: 10px solid white;
    
}
button{
    border-radius: 50%;
    width: 80%;
    height: 80%;
    font-size: 35px;
    border: none;
    cursor: pointer;
    margin-top: 12px;
    background-color: rgb(63, 63, 63);
    color: white;
    place-self:  center;

}
.button-grid .gray-buttom{
    background-color:rgb(180, 160, 160);
    color: black;
}

.button-grid .yello-button{
     background-color: rgb(255,158,0);

}
.zero{
    width: 88%;
    grid-column: span 2;
    border-radius: 80px ;
    padding-right: 100px;
}

